
<div class="navigation" >
  <mat-toolbar>
    <button mat-icon-button (click)="toggleNav()"><mat-icon>menu</mat-icon></button>

    <span>app-title</span>
  </mat-toolbar>

  <nav [@openClose]="isOpen ? 'open' : 'closed'">
    <ul>
      <li><a (click)="toggleNav()" routerLink="home">home</a></li>
      <li><a (click)="toggleNav()" routerLink="example" >example</a></li>
    </ul>
  </nav>
  
</div>

<div class="content-grid mat-elevation-up-z0">
  <div  [@openCloseBackdrop]="isOpen ? 'open' : 'closed'" class="backdrop" (click)="isOpen == true && toggleNav()" ></div>
  <router-outlet></router-outlet>
</div>