
<div class="navigation" >
  <mat-toolbar>
    <button mat-icon-button (click)="toggleNav()"><mat-icon>menu</mat-icon></button>

    <span>app-title</span>
  </mat-toolbar>

  <nav [@openClose]="isOpen ? 'open' : 'closed'">
    <ul [@openCloseLinks]="navItems.length">
      <li *ngFor="let navItem of navItems">
        <a (click)="toggleNav()" [routerLink]="navItem">{{navItem}}</a>
      </li>
    </ul>
  </nav>
  



</div>

<div class="content-grid mat-elevation-up-z4">
  <div  [@openCloseBackdrop]="isOpen ? 'open' : 'closed'" class="backdrop" (click)="isOpen == true && toggleNav()" ></div>
  <router-outlet></router-outlet>
</div>